<h1>ようこそBookersへ！</h1>
<div class="main-visual">
    <div class="main-visual-content">
      <p class="main-visual-text">
        Bookersでは、様々な書籍に関するあなたの意見や<br>
        印象を共有し交換することができます<br>
        </p>




<%= link_to "start", books_path %>
